.svg-content-responsive {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: initial;
}

.svg-content-responsive .pie-outer-arc {
    opacity: 0.4;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}