.openchart {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    display: inline-block;
    position: relative;
    &.svg-content-responsive {
        top: 0;
        left: 0;
        width: 100%;
        height: initial;
    }
    .animate {
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }
    .legend {
        font-size: 14px;
    }
    .hover {
        opacity: 1;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        &:hover {
            opacity: 0.8;
        }
    }
    &.piechart {
        .pie-outer-arc {
            opacity: 0.4;
        }
        .axis path,
        .axis line {
            fill: none;
            stroke: black;
            shape-rendering: crispEdges;
        }
        .axis text {
            font-family: sans-serif;
            font-size: 11px;
        }
    }
}